{% extends './base.html' %}

{% block title %}HorrorPedia{% endblock %}
{% block customCSS %}
<style>
    .container-movie {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f5f5;
        height: 7rem;
        width: 10rem;
        margin: 3rem;
        padding: 5px 0px;
    }
</style>
{% endblock %}

{% block body %}
<p></p>

<hr>


<div style = "position:relative;
display:block; left:0;">
<ol class = "bigbox">
    <li class = "rbox">
        <div class = "littlebox">
            <h1 style = "color:#F8F8FF";>BIENVENIDO A HORRORPEDIA {{user['userName']}}</h1> 
            
        </div>
        <ol>
            <li class = "foro2">
                <div class = "chop" >
                    <br>
                <h2>Qué es Horrorpedia?
                </h2>

                </div>
            
            </li>
            <li class = "foro2">
                <div class = "div">
                    Horrorpedia es un foro en el que podrás encontrar historias inéditas y fantásticas.
                    En esta pagina no buscamos probar verdades tras las curiosidades y/o acontecimientos siniestros de la historia y el mundo contemporáneo. Verdadero o falso, verídico o desmentido, su objetivo primordial es solo entretener a la gente.
    
                </div>


            </li>


            <li class = "foro2">
                <div class= "div">

                </div>
      
            </li>

            <li class = "foro2">
                <div class = "div">

                </div>
           

            </li>


            <li class = foro2>
    
            </li>
           
        </ol>

    </li>   
    <ol>

    </ol> 
</ol>
</div>

<div id="container-movies">

</div>

{% endblock %}

{% block customJS %}

<script>
    var likes;
    var userID = "{{user.id}}";
    
    listMoviesUI = document.getElementById('container-movies');
    
    const showMovies = async () => {
        listMoviesUI.innerHTML = '';
        const response = await fetch('movies/')
        const movies = await response.json();
        
        movies.movies.forEach(movie => {
            listMoviesUI.innerHTML += `
            <div id="${movie.id}" class="rbox" >
                <h3 class = "littlebox" >${movie.data['nombre']}</h3>
                <img style="width:200px" src="${movie.data['imagenURL']}" alt="logo">
                <h2 class = "littlebox">${movie.data['fechaEstreno']}</h2>
                <p class="littlebox">${movie.data['calificacion']}</p>
                <a class="button" href="/movie/${movie.id}/">Explorar detalles</a>
            </div>
            `
        });
    }

    document.addEventListener('DOMContentLoaded', showMovies);

</script>
{% endblock %}