{% extends './base.html' %}

{% block title %}HorrorPedia{% endblock %}
{% block customCSS %}
<style>
    li p {
        color: #fff;
    }
</style>
{% endblock %}
{% block body %}
<div>
    <div class="rbox">
        <h3 class="littlebox">{{movie.data['nombre']}}</h3>
        <img style="width: 200px;" src="{{movie.data['imagenURL']}}" alt="logo">
        <p class="littlebox">Overview: {{movie.data['description']}}</p>
        <p class="littlebox"> Fecha de Estreno: {{movie.data['fechaEstreno']}}</p>
        <p class="littlebox">Calificacion: {{movie.data['calificacion']}}</p>
    </div>
    <div class="area-comentar">
        <form id="form" class="inputs-comentarios">
            <textarea name="" class="area-comentario" name="comentario" id="comentario"></textarea>
            <input type="submit" value="Create">
        </form>
    </div>
    <ul id="lista-comentarios" class="lista-comentarios"></ul>

</div>
<p>Comentarios</p>
{% endblock %}
{% block customJS %}
<script>
    const comentarioInput = document.getElementById('comentario');
    const listaComentarios = document.getElementById('lista-comentarios');
    userID = "{{idUser}}";
    movieID = "{{movie.id}}";

    document.getElementById('form').onsubmit = function (e) {
        e.preventDefault();
        if (userID == '') {
            alert('Debes iniciar sesión para poder hacer un comentario');
        } else {
            const comentario = comentarioInput.value;
            fetch('/comentario/', {
                method: "POST",
                body: JSON.stringify({
                    data: {
                        "comentario": comentario,
                        "idUser": parseInt(userID),
                        "idMovie": parseInt(movieID),
                        "dateCreated": Date.now()
                    }
                }),
                headers: {
                    'Content-Type': 'aplication/json'
                }
            }).then(function (response) {
                return response.json();
            }).then(function (jsonResponse) {
                console.log(jsonResponse.response.id);
                listaComentarios.innerHTML += `
                <div id=${jsonResponse.response.id} class="comentario-usuario">
                    <li >
                        <div class="comentario">
                        <h2 >${jsonResponse.response.data['comentario']}</h2>
                        </div>
                        <h2 >Creado el dia ${jsonResponse.response.data['dateCreated']}</h2>
                        <button onclick="validateLike(${jsonResponse.response.id},${jsonResponse.response.data["likes"]})">likes</button><h2 class="comentariolike">0 </h2>
                        <button onclick="deleteComentario(${jsonResponse.response.id})">Delete</button>
                    </li>
                    </div>
                `
                console.log("jsonResponse: ", jsonResponse.response['data']);
            }).catch(error => console.error("Error", error));
        }

    }

    const addLikesMovies = async (id, idUser) => {
        const response = await fetch(`/likes/${id}/${idUser}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const message = response.json();
        return message;
    }

    const removeLikeMovies = async (id, idUser) => {
        const response = await fetch(`/likes/${id}/${idUser}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const message = response;
        return message;
    }
    const validateLike = async (id, like) => {
        if (userID == '') {
            alert('Debes iniciar sesión para poder darle like');
        } else {
            var rMessage = await addLikesMovies(id, userID);
            if (rMessage.message == "like ya existe") {
                var reMessage = await removeLikeMovies(id, userID);
                document.getElementById(id).querySelector('.comentariolike').innerHTML--;
            } else {
                document.getElementById(id).querySelector('.comentariolike').innerHTML++;
            }
        }
    }

    const deleteComentario = (id) => {
        if (userID == '') {
            alert('Debes iniciar sesión para poder eliminar el comentario');
        } else {
            fetch(`/comentario/${id}/${userID}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function (response) {
                return response.json();
            }).then(function (jsonResponse) {
                console.log(jsonResponse.message);
                if (jsonResponse.message != "usuario no autorizado") {
                    document.getElementById(id).remove();
                } else {
                    alert('No tiene permiso para eliminar este comentario');
                }

            }).catch(error => console.error("Error", error));
        }
    }


    const showComentarios = async () => {
        listaComentarios.innerHTML = '';
        const response = await fetch(`/comentario/${movieID}`)
        
        const comentarios = await response.json();
        comentarios.comentarios.forEach(comentario => {
            fetch(`/getUser/${comentario.data['idUser']}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response=>response.json()).then(user=>{
                console.log(user.user.id);
                listaComentarios.innerHTML += `
                <div id=${comentario.id} class="comentario-usuario">
                <li >
                    <h2>${user.user.userName}</h2>
                    <div class="comentario">
                    <h2 >${comentario.data['comentario']}</h2>
                    </div>
                    <h2 >Creado el dia ${comentario.data['dateCreated']}</h2>
                    <button onclick="validateLike(${comentario.id},${comentario.data["likes"]})">likes</button><h2 class="comentariolike">${comentario.data["likes"]} </h2>
                    <button onclick="deleteComentario(${comentario.id})">Delete</button>
                </li>
                </div>
                `
            });
        });
    }

    document.addEventListener('DOMContentLoaded', showComentarios);
</script>
{% endblock %}