<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css' ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css' ) }}">
        <link rel="icon" href="{{ url_for('static', filename='imgs/grm.png' ) }}">
        <script src="https://kit.fontawesome.com/4bf2b58ebf.js" crossorigin="anonymous"></script>
        {% block customCSS %}{% endblock %}
        <script defer src="{{url_for('static',filename='js/index.js')}}"></script>
    </head>


    <body>


        <header class="header">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="logo nav-link">
                        <a href="/">HORRORPEDIA</a>
                    </div>
                    <input type="checkbox" id="nav-check">
                    <label for="nav-check" class="nav-toggler">
                        <span></span>
                    </label>
                    <nav class="nav">
                        <ul>
                            <li><a class="nav-menu-link nav-link" href="/login">Ingresa</a></li>
                            <li><a class="nav-menu-link nav-link" href="/register">Registrate</a></li>
                            <li><a class="nav-menu-link nav-link" href="/logout">Salir</a></li>
                    </nav>
                </div>
            </div>
        </header>





        {% block body %}{% endblock %}
        {% block customJS %}{% endblock %}
    </body>

</html>